/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
            @mixin btn1 {
                background-position: 0 -775/(74-944)*100%;;
                width: px(251);
                height: px(74);
            }
            @mixin btn2 {
                background-position: -255/(250-1198)*100% -775/(73-944)*100%;;
                width: px(250);
                height: px(73);
            }
            @mixin btn3 {
                background-position: -509/(250-1198)*100% -775/(73-944)*100%;;
                width: px(250);
                height: px(73);
            }
            @mixin btn4 {
                background-position: -730/(113-1198)*100% -595/(41-944)*100%;;
                width: px(113);
                height: px(41);
            }
            @mixin foot_l {
                background-position: -611/(115-1198)*100% -595/(49-944)*100%;;
                width: px(115);
                height: px(49);
            }
            @mixin foot_r {
                background-position: 0 -853/(91-944)*100%;;
                width: px(123);
                height: px(91);
            }
            @mixin footer {
                background-position: -584/(274-1198)*100% -296/(38-944)*100%;;
                width: px(274);
                height: px(38);
            }
            @mixin logo {
                background-position: -567/(521-1198)*100% -352/(200-944)*100%;;
                width: px(521);
                height: px(200);
            }
            @mixin md1_bg {
                background-position: -584/(614-1198)*100% 0;
                width: px(614);
                height: px(292);
            }
            @mixin md1_jp1 {
                background-position: -1092/(94-1198)*100% -352/(130-944)*100%;;
                width: px(94);
                height: px(130);
            }
            @mixin md1_jp2 {
                background-position: -763/(128-1198)*100% -775/(58-944)*100%;;
                width: px(128);
                height: px(58);
            }
            @mixin md1_jp3 {
                background-position: -206/(69-1198)*100% -853/(67-944)*100%;;
                width: px(69);
                height: px(67);
            }
            @mixin md1_jp4 {
                background-position: -127/(75-1198)*100% -853/(75-944)*100%;;
                width: px(75);
                height: px(75);
            }
            @mixin md2_zz {
                background-position: 0 0;
                width: px(580);
                height: px(348);
            }
            @mixin md3_text {
                background-position: 0 -352/(239-944)*100%;;
                width: px(563);
                height: px(239);
            }
            @mixin sh_bot {
                background-position: 0 -715/(56-944)*100%;;
                width: px(607);
                height: px(56);
            }
            @mixin sh_top {
                background-position: 0 -655/(56-944)*100%;;
                width: px(607);
                height: px(56);
            }
            @mixin sh_top2 {
                background-position: 0 -595/(56-944)*100%;;
                width: px(607);
                height: px(56);
            }
        %spritesheet {
            background-image: url('../images/con_sprite.png');
            background-repeat: no-repeat;
            background-size: px(1198) px(944);
        }


