<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<section class="g-game" id="j-game">
		<div class="m-ans">
			<img src="images/game/01.jpg" alt="">
			<p>图中人物是谁？</p>
		</div>	

		<div class="m-title">
			<p :class="{'i-over': error, 'i-succ': success}">{{answer}}</p>
			<a href="javascript:;" class="del" v-show="answer && !error && !success" @click="delSel">删除</a>
			<p v-if="error">{{result}}</p>
		</div>

		<ul class="m-seles">
			<li v-for="(index, sel) in sels">
				<a href="javascript:;" v-on:click="selent(index)" v-bind:class="{'i-ed': seld[index].isSel }">{{sel}}</a>
			</li>
		</ul>
	
		<div class="m-btns">
			<a href="javascript:;" v-if="!error && !success" v-on:click="submit">提交</a>
			<a href="javascript:;" v-else v-on:click="submit">下一题</a>
		</div>
	</section>

	<script src="js/vue.js"></script>
	<script src="js/vue-resource.min.js"></script>
	<script>
		
		var g = new Vue({
			el: '#j-game',
			data: {
				answer: '',
				sels: '出初啊因未来好音海爱姐末',
				seld: [],
				selIndex: [],
				result: '初音未来',
				error: false,
				success: false
			},
			created: function(){
				for(var i=0; i<this.sels.length; i++){
					this.seld.push({isSel: 0});
				}
			},
			methods: {
				selent: function(index){
					if(!this.seld[index].isSel && this.answer.length < this.result.length){
						this.answer += this.sels[index];
						this.seld[index].isSel = 1;
						this.selIndex.push(index);
					}
				},
				delSel: function(){
					var index = this.selIndex.length - 1;
					this.seld[ this.selIndex[index] ].isSel = 0;
					this.answer = this.answer.substr(0,this.answer.length - 1);
					this.selIndex.pop();
				},
				submit: function(){
					if( this.answer === this.result){
						this.success = true;
					}else{
						this.error = true;
					}
				}
			}
		});
	</script>
</body>
</html>