body{background:#030420;}
.bigboss{width:853px;margin:30px auto;}
.picbox{width:853px;height:414px;margin-bottom:30px;}
.picbox li{display:none;}

.bonbox li{float:left;font-size:14px;padding:5px 10px;background:#242424;color:#fff;margin-right:10px;cursor:pointer;}
.bonbox li.libg1{background:#19634c;}