@charset "utf-8";
@import "reset";
/*
 * 设置手机/qq号码表单
 */
.g-setform {
    input {
        font-size: px(32);
    }
    // 号码头部
    .m-heard {
        height: px(72);
        line-height: px(72);
        background: $write;
        margin-bottom: px(80);
        text-align: center;
        font-size: px(32);
        span {
            color: #ff6665;
        }
    }
    // 地址头部
    .m-heardtr {
        padding: px(30);
        h3 {
            font-size: px(32);
            color: #000;
        }
        p {
            font-size: px(28);
            color: #929292;
        }
        span {
            color: $pink;
        }
    }
    // 公用，输入框
    .m-infbox {
        input {
            outline:none;
        }
        .m-textla {
            &.z-textdel i {
                content: '';
                position: absolute;
                right: px(10);
                top: px((104-80)/2);
                width: px(80);
                height: px(80);
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAIVBMVEX////MzMzW1tb7+/vh4eH4+Pj09PTr6+vQ0NDZ2dnT09OmPlc/AAAA2klEQVQoz2VSwQqCQBB9ZCod1wylU5IfYBEEndLo0M2gD/BWRyXo7qVzUT8Q/WjuW1yCeQd35vlm3JknCL9o4/QKi5Mi9n2+UsEtc8+J2oFwk7DkmQc8cZlWILzPnS/aV1+7jEv9DGDxnAPIv7DYhF2FqnDIdOa84akSw45MtJK1+RaLiQ6zTqDp4xjNw8SGHUXIazAhCT9EUoESCuAFaDPT0DR2YiiAEgoAJQhRIprKzzaz/4sNInF1MRzHL8z4qR5fLEisUC5Z2iCNopWlo60UZlus9e9QM/wBRq4sUjZD7wIAAAAASUVORK5CYII=) no-repeat center center;
                background-size: px(32) px(32);
            }
        }
        .m-button {
            display: block;
            border: none;
            width: px(640);
            height: px(80);
            margin: 0 auto;
            background: $green;
            color: #fff;
            font-size: px(34);
            border-radius: px(15);
            -webkit-appearance : none ;
            &:active {
                background: $greenh;
            }
        }
        .z-prevent {
            background: #e0e0e0;
            color: #c3c3c3;
            &:active {
                background: #e0e0e0;
            }
        }
    }
    // 号码输入框
    .m-infboxdr {
        width: px(640);
        margin: 0 auto;
        .m-text {
            border: none;
            background: $write;
            width: px(640);
            height: px(104);
            margin-bottom: px(24);
            box-sizing: border-box;
            padding: 0 px(30);
            border-radius: px(15);
        }
        .m-textla {
            position: relative;
            display: inline-block;
        }
            
    }

    // 地址输入框
    .m-infboxtr {
        width: 100%;
        .m-textla {
            position: relative;
            display: block;
            border-top: 1px solid $bdc;
        }
        .m-textla:first-child {
            border-top: none;
        }
        .m-addsella {
            display: block;
            height: px(104);
            padding: 0 px(60);
            background: $write no-repeat right 10px center url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAeCAMAAADEgrRGAAAAS1BMVEX///9fu0Vnv079/vzj9N+n2pjd8deU0oPT7cyb1Ypxw1pswVRjvUn6/Pnq9ufY7tLN6sXD5bmx3qSt3J+JzXa44ayg15GNz3p6x2RHzmyFAAAAaElEQVQY03XQSRKAIBADQIOK+8Ii+v+XWp4koeCWPswMaeLQNvmbwdAtJUwMBhONsAZJoSc4FEaDwLDCE5wrLgYIOMApWIIgWz16WXHICXJi/Qu2iEkq0gqrFe+zxlvils16EL/4Z44vL/gDy0CjgQAAAAAASUVORK5CYII=);
            background-size: px(15) px(30);
            span {
               font-size: px(30); 
               line-height: px(104);
               color: $t1c;
            }
            .selecd {
                float: right;
            }
        }
        .m-text {
            background: $write;
            width: 100%;
            height: px(104);
            box-sizing: border-box;
            padding: 0 px(70) 0 px(60);
            border: none;
        }
        .i-must:after {
            content: '*';
            font-size: px(38);
            line-height: 1;
            position: absolute;
            left: px(28);
            top: 50%;
            margin-top: px(-10);
            color: $pink;
        }
        .m-button {
            margin-top: px(40);
        }
    }
}