@charset "utf-8";
@import "reset";


@-webkit-keyframes fadeOutUpBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, px(-165), 0);
    transform: translate3d(0, px(-165), 0);
  }
}

@keyframes fadeOutUpBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, px(-165), 0);
    transform: translate3d(0, px(-165), 0);
  }
}

/*
 * 签到
 */
.g-signArea {
    height: px(320);
    padding: px(70) px(20) 0;
    background: $write;
    text-align: center;
    margin-bottom: px(20);
    //按钮
    .f-signBtn {
        display: block;
        position: relative;
        width: px(216);
        height: px(96);
        border: 2px solid #ff9f22;
        margin: 0 auto px(25);
        border-radius: px(100/2);
        background: #ffc152;
        box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
        .state {
            display: block;
            font-size: px(36);
            color: $write;
            line-height: 1;
            padding: px(12) 0 px(5);
        }
        .num {
            display: inline-block;
            color: #ff6665;
            font-size: px(24);
        }
    }
    .z-signDis {
        background: $write;
        .state {
            color: #ffc152;
            padding-top: px(30);
        }
        .num {
            color: #fff;
            font-size: px(24);
            line-height: px(48);
            transform: translateY(px(-115));
            -webkit-transform: translateY(px(-115));
            background: #ffc152;
            padding: 0 px(20);
            margin-left: px(-10);
            white-space:nowrap;
            border-radius: px(48);
        }
    }
    .succTips {
        -webkit-animation-name: fadeOutUpBig;
        animation-name: fadeOutUpBig;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    .tip {
        font-size: px(24);
        margin-bottom: px(30);
    }
    //进度条
    .m-process {
        overflow: hidden;
        margin-right: px(-10);
        margin-left: px(-10);
        li {
            position: relative;
            float: left;
            width: (100%/7);
            padding: 1px 0;
            span {
                display: inline-block;
                width: px(56);
                height: px(56);
                line-height: px(56);
                @include border($green);
                border-radius: 50%;
                background: $write;
                color: $green;
                margin-bottom: px(10);
                position: relative;
                z-index: 2;
            }
            p {
                font-size: px(24);
                color: $t3c;
                position: relative;
                z-index: 2;
            }
            &:before, &:after {
                content: '';
                position: absolute;
                height: 1px;
                width: 50%;
                background: $green;
                top: px(58/2);
            }
            &:before {
                left: 50%;
            }
            &:after {
                right: 50%;
            }
        }
        .light {
            span{
                color: $write;
                background: $green;
                @include border(rgba(94,187,68,.2));
            }
        }
        li:first-child {
            &:after {
                display: none;
            }
        }
        li:last-child {
            &:before {
                display: none;
            }
        }
    }
}

//日历
.g-calendar {
    background: $write;
    margin-bottom: px(20);
    .myui_calendar_table {
        width: 100%;
        text-align: center;
        font-size: px(28);
        padding: 0 px(20) px(20);
        caption {
            height: px(80);
            line-height: px(80);
            background: $write;
            color: $green;
            font-size: px(30);
            @include border-bottom($bdc);
            .i_left, .i_right {
                width: px(80);
                height: px(80);
                text-align: center;
                i{
                    display: inline-block;
                    width: px(38);
                    height: px(38);
                    margin-top: px( (80-38)/2 );
                    background-repeat: no-repeat;;
                    background-size: px(76) px(38);
                    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEwAAAAmCAMAAABZJo0lAAAAUVBMVEVeu0T////5/PhjvUnS7Mv0+vKGzHN9yGdpwFG44a2X04bw+e2+47SAyWx3xWCe1o7D5rrp9eWR0X/i897I6L/Y7tGj2JVvwljc8Net3J+Mz3qF+iwtAAAB1klEQVRIx53WB5aDIBSF4fsoAcEaW8z+FzpzPDEKPMJM/gV8Firoq/xDqYenqBDTkzNWStu4Seeh6imxZ++1z2HTDZduE0s97rgm3chhqkVUqxJKO8TJRSdYB6ZOhNa8gqkdQ0w3YGuCXzdJsEl1xXSLTK2/WMgl5xMTTfqB5ng38f7G472WKnlDO+4Y/79qUm/2+Pfv/zWSSrRWvDDFWOKcJioeIaMZbXth7UcL7W6NwEdNDjs28dbZPnsdCtqyY03BQvNreaCgWUGgoWQBA1GFojYRqGasxKc7ilpHIFe04IgsilpLIFO0YMgDRU0Sgmd2rAVLI3htwSUPuuKKOnDRDC5Hj2CcYsz9B1tIRdj3n3mPprKPBqDPDIDmrQrRADgUNUe0Fi00yaRltYrIFS0szHLq2eXUFy0obqH33EIXsmStyRbEaj39thQsbJnNsWc2x0F+tqzObds9s21vHy3U+QOlp/kyL/aEOccjtW7nUWcQ1x3DYgS9Go+18kwfvvo/HcKaKDk4wRybJ0begM344AZkwbaO4cVFdGBygoKGBkxP/92VipibQc1e9vrguU1PXH5bgy+sdO4aOlTOWMAaVw2UTS2N3d/pts3JnfabtPeC4n4A+7YSfZ4w+dsAAAAASUVORK5CYII=);
                }
                i:active {
                    opacity: 0.6;
                }
            }
            .i_left {
                float: left;
                    margin-left: px(130);
            }
            .i_right {
                float: right;
                margin-right: px(130);
                i {
                    background-position: right 0;
                }
            }
            .i-arw_l_gay,.i-arw_r_gay {
                i {
                    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEwAAAAmCAMAAABZJo0lAAAAS1BMVEWSkpL////8/Pz29vbh4eGurq6mpqaamprV1dW9vb2pqam4uLja2trR0dHw8PC1tbWioqLOzs7l5eX5+fmenp7s7OzBwcHq6urGxsYgNIKLAAABrUlEQVRIx53W63KEIAwF4ANBqFxcr6vv/6S12+qIRMGen8z4MYkKgfhXqFeqp/NqjJF31gBGO0/XUFcZfGJega4wX+GQyrPU/EIUN3GY0jhFq4QihyTv4YzJGkxqGVv9CCbtHGNkwcZGPfG4iDpi1OIiLSUWr+2YtGmBWwet3GvcmxRwjpl3LO3Xl1A7u/V+79ckVFqB/MMUY8kqKiHaURPzyPKLyZa14k3FDNxrzQfz9xbgfzCHjPb+YDZjwa4WARnNyBVrGCutICCr+RULWQtBiBeyWr1iLmvBCWGQ1fSK6awFLQjIawLRnjVrwYgZvLbgEIKIf7EaXEQPLi5eb86Ye4K9hYqwwjInznrJuBAqfQG8FXBM8acx5i1b/NE6xupOHSz+nXzWgir+0YesNT44guqMhe7B4dhkLENPju3l1kIoulDcdk3r/X0wVnV71W1Ler/8J7M9mG4+0tNLuMdVzFQyHmiKRg0DNuNUNLgMIkrD7llROlK1SYnpSCW7tMTADXvSR/taLwUTWkxUYTdcjaFNcPp3DA2NuIpUb/sBTbX0zEz7PAPRkCx+A0YAEA8EqVSSAAAAAElFTkSuQmCC);
                    opacity: 0.5;
                }
            } 
        }
        th {
            color: $green;
            padding: px(40) 0 0;
        }
        td {
            height: px(58);
            line-height: px(58);
            padding: px(12) 0;
            span {
                display: inline-block;
                width: px(58);
                height: px(58);
                border-radius: 50%;
            }
        }
        .t_unday span {
            color: $t3c;
        }
        .t_today span {
            background: $orange;
            color: $write;
        }
        .t_sign span {
            @include border($green);
            position: relative;
            &:after {
                content: '';
                position: absolute;
                width: px(24);
                height: px(20);
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAUBAMAAABlm+CwAAAAKlBMVEX////x+e9eu0R4xmJ8yGbn9eOJzXZuwlf5/Pj8/vvq9ueZ1IiAyWxjvUopkZX4AAAASElEQVQY02NAgAkMRAGxAASb0SkBwRFRFkCSMCRagnUHkgSPWgNCB2tRBpKOcKAUWAIqBZaASS0BScCkLiHZEQ6SgEslYvMRAHpYDSmF61YMAAAAAElFTkSuQmCC);
                background-size: cover;
                left: px(38);
                top: px(40);
            }
        }
        .t_sign.t_today span {
            background: none;
            @include border($green);
            color: $t2c;
        }
    }
}

//签到后还可以
.g-morelist {
    background-color: $write;
    h2 {
        font-size: px(30);
        line-height: 1;
        padding: px(30) px(30);
        @include border-bottom($bdc);
    }
    li {
        position: relative;
        
    }
    li.u-unlink {
        height: px(96);
        padding: px(30) px(30);
        box-shadow: none;
    }
    li.u-link {
        & > a {
            @include border-bottom($bdc);
            margin-left: px(30);
            display: block;
            padding: px(30) px(50) px(30) 0;
        }
        &:active {
            background-color: $bdc;
        }
        &:after {
            content: '';
            position: absolute;
            right: px(30);
            top: 50%;
            margin-top: px(-14);
            width: px(15);
            height: px(28);
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAtCAMAAACDHlvUAAAAclBMVEUAAABfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0Vfu0VcKcOrAAAAJXRSTlMABAmsDraOiIFgS8K8pmXPyKCdmJJ7cm359eTaVTEeFO7VREAZCIaXEgAAAL5JREFUOMuV00cWgzAMBFBaTO8tgQBpuv8VM6wzswjL+c8Py5I8b8/DyGNfbNZQeZtZHjBJIYWUi8+kkjJDQioTpKQyQloqCaRThdpAxUEclR4SU+kgCQO/hYxUSshEJYTMVC6QiklwSkqlgGRUcrMlYBKt4ojnxP/9GidELY+IVS/u24qX7EU+IHeii4Poe//HpIxi6iYyp2p+9cTr7bmrXOxhdj03l+c1yV835MdvviF/Hvzh1g9r/bY0O4m/BnsXZ3ayT4MAAAAASUVORK5CYII=);
            background-repeat: no-repeat;
            background-size: px(15) px(28);
        }
    }
    .u-gameicon {
        width: px(96);
        height: px(96);
        float: left;
        margin-right: px(25);
    }
    .u-title {
        font-size: px(30);
        line-height: 1.7;
        color: $t1c;
        padding-top: px(2);
    }
    .u-info {
        font-size: px(28);
        color: $t2c;
    }
    .u-remind {
        $width: 104;
        $height: 60;
        position: absolute;
        top: 50%;
        right: px(20);
        width: px($width);
        height: px($height);
        margin-top: px(-64/2);
        .u-remindCheckbox {
            display: none;
        }
        label {
            position: relative;
            display: inline-block;
            -webkit-transition: all 0.1s ease-in;
            transition: all 0.1s ease-in;
            width: px($width);
            height: px($height);
            &:before {
                content: '';
                position: absolute;
                top: 1px;
                left: 1px;
                width: px(56);
                height: px(56);
                border-radius: px(56/2);
                background: $write;
                box-shadow: 0 3px 1px rgba(0,0,0,0.05), 0 0px 1px rgba(0,0,0,0.3);
                z-index: 2;
                -webkit-transition: all 0.1s ease-in;
	            transition: all 0.1s ease-in;
            }
            &:after {
                content: '';
                position: absolute;
                right: auto;
                left: 0;
                top: 0;
                width: px($width);
                height: px($height);
                border-radius: px($height/2);
                -webkit-transition: all 0.1s ease-in;
                transition: all 0.1s ease-in;
                background-color: #fafbfa;
                box-shadow: inset 0 0 0 0 #eee, 0 0 1px rgba(0,0,0,0.4);
            }
        }
        .u-remindCheckbox:checked + label:before{
            content: '';
            position: absolute;
            left: auto;
            right: 1px;
            top: 1px;
        }
        .u-remindCheckbox:checked + label:after{
            background: #4cda60;
            box-shadow: 0 0 1px #4cda60;
        }
    }
}
