@charset "utf-8";
@import "reset";

/*
 * 点击观看视频获得盒币
 */
$vbgc: #ffefb3;
@mixin arrow {
    background-position: -877/(24-1089)*100% -666/(42-1012)*100%;;
    width: px(24);
    height: px(42);
}
@mixin botton {
    background-position: -669/(204-1089)*100% -666/(70-1012)*100%;;
    width: px(204);
    height: px(70);
}
@mixin icon1 {
    background-position: -120/(100-1089)*100% -828/(100-1012)*100%;;
    width: px(100);
    height: px(100);
}
@mixin icon2 {
    background-position: -224/(100-1089)*100% -828/(100-1012)*100%;;
    width: px(100);
    height: px(100);
}
@mixin icon3 {
    background-position: 0 -828/(100-1012)*100%;;
    width: px(116);
    height: px(100);
}
@mixin keng1 {
    background-position: -328/(60-1089)*100% -828/(75-1012)*100%;;
    width: px(60);
    height: px(75);
}
@mixin keng2 {
    background-position: 0 -932/(80-1012)*100%;;
    width: px(52);
    height: px(80);
}
@mixin keng3 {
    background-position: -501/(164-1089)*100% -666/(110-1012)*100%;;
    width: px(164);
    height: px(110);
}
@mixin novideo {
    background-position: -662/(297-1089)*100% -616/(27-1012)*100%;;
    width: px(297);
    height: px(27);
}
@mixin t1 {
    background-position: -662/(427-1089)*100% -308/(304-1012)*100%;;
    width: px(427);
    height: px(304);
}
@mixin t2 {
    background-position: -662/(427-1089)*100% 0;
    width: px(427);
    height: px(304);
}
@mixin title {
    background-position: 0 -666/(158-1012)*100%;;
    width: px(497);
    height: px(158);
}
@mixin tv {
    background-position: 0 0;
    width: px(658);
    height: px(662);
}
%spritesheet {
background-image: url('../images/video/sprite.png');
background-repeat: no-repeat;
background-size: px(1089) px(1012);
}



body {
    background: #fff;
}
.g-vheard {
    position: relative;
    height: px(960);
    overflow: hidden;
    background: $vbgc url(../images/video/bg.jpg) no-repeat left top;
    background-size: 100% px(715);
    &:before {
        content: '';
        width: px(703);
        height: px(578);
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: px(-703/2);
        background: url(../images/video/star.png);
        background-size: cover;
    }

    &:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: px(-120);
        margin-left: -75%;
        width: 150%;
        height: px(420);
        border-radius: 50%;
        background: $vbgc;
    }

    h1 {
        @include title;
        @extend %spritesheet;
        margin: px(83) auto px(56);
        text-indent: -9999px;
    }

    .m-tv {
        @include tv;
        @extend %spritesheet;
        position: relative;
        z-index: 2;
        margin: 0 auto;
        &:before {
            content: '';
            display: table;
        }
        a {
            display: block;
            @include t1;
            @extend %spritesheet;
            margin: px(135) 0 0 px(115);
        }
        .m-novideo {
            @include t2;
            @extend %spritesheet;
            margin: px(135) 0 0 px(115);
            padding-top: px(20);
            box-sizing: border-box;
        }
        .douwa {
            background: url(../images/thanks.png);
            width: px(134);
            height: px(209);
            background-size: cover;
            margin: 0 auto px(10);
        }
        .text {
            @include novideo;
            @extend %spritesheet;
            margin: 0 auto;
        }
        .loading {
            width: px(200);
            height: px(224);
            background: url(../images/run_sm.gif);
            background-size: cover;
            margin: px(20) 0 0 px(150);
        }
    }
} 

.g-vconwarp {
    background: $vbgc;
    position: relative;
    .m-vcontent {
        width: px(750);
        margin: 0 auto;

    }
    
    h3 {
        @extend %spritesheet;
        @include botton;
        line-height: px(70);
        text-align: center;
        color: #574d27;
        margin-bottom: px(40);
        margin-left: px(30);
        &:nth-child(1) {
            margin-top: px(-40);
            position: relative;
            z-index: 2;
        }
    }

    .m-lc {
        width: 100%;
        margin-bottom: px(50);
        font-size: px(28);
        color: #574d27;
        li {
            float: left;
            text-align: center;
            width: 33%;
            position: relative;
            &:before,&:after {
                content: '';
                @extend %spritesheet;
                display: inline-block;
            }
            &:after {
                position: absolute;
                right: px(-12);
                top: px(28);
            }
        }
        li:nth-child(1) {
            &:before {
                @include icon1;
                margin-bottom: px(15);
            }
            &:after {
                @include arrow;
            }
        }
        li:nth-child(2) {
            &:before {
                @include icon2;
                margin-bottom: px(15);
            }
            &:after {
                @include arrow;
            }
        }
        li:nth-child(3) {
            &:before {
                @include icon3;
                margin-bottom: px(15);
            }
        }
    }

    .m-text {
        padding: 0 px(60) px(60);
        dt {
            color: #000;
            font-size: px(30);
            margin-bottom: px(20);
        }
        dt:nth-child(3) {
            &:before {
                content: '';
                position: absolute;
                @extend %spritesheet;
                @include keng2;
                left: 0;
                margin-top: px(300);
            }
        }
        dd {
            font-size: px(28);
            color: #574d27;
            margin-bottom: px(20);
        }
        &:before {
            content: '';
            position: absolute;
            @extend %spritesheet;
            @include keng1;
            right: 0;
        }
        &:after {
            content: '';
            @extend %spritesheet;
            @include keng3;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

.g-vnodata {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    p {
        position: absolute;
        top: 50%;
        margin-top: px( -(130+350)/2 );
        width: 100%;
        height: px(130);
        text-align: center;
        background: url(../images/thanks.png) top center no-repeat;
        background-size: px(218) px(336);
        padding-top: px(350);
        font-size: px(38);
        color: #929292;
        line-height: 1.2;
    }
}
