*{
	margin: 0;
	padding: 0;
}

.l-article {
    padding: 50px 0 70px;
}

.bg-leaf {
  transition: 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
  background: url(images/bg03.png) repeat 0px 0px #f9f9f9\9;
  background: url(images/bg01.png) repeat 0px 0px, url(images/bg02.png) repeat 0px 0px, url(images/bg03.png) repeat 0px 0px #f9f9f9;
}