.form-tab{width:580px;background:#eee;margin:30px auto;padding:10px;border:1px solid #ccc;}
.form-tab td{vertical-align:middle;padding-bottom: 5px;}
.form-tab .check{vertical-align:middle;margin-right:5px;}
.form-tab label{vertical-align:middle;margin-right:10px;}
.form-tab td input.text{height:28px;line-height:28px;width:200px;vertical-align:middle;}
.form-tab td select.selques{height:32px;width:204px;}
.form-tab td select.selday{height:32px;}
.form-tab td .btn{width:80px;height:28px;cursor:pointer;}
.form-tab td span{vertical-align:middle;margin-left:5px;display:inline-block;height:30px;line-height:30px;}
.form-tab td span i{background-image:url(../icon.png);vertical-align:-3px;margin-right:5px;display: inline-block;width:17px;height:17px;}
.form-tab td span.info{}
.form-tab td span.error{color:red;}
.form-tab td span.info i{background-position:left -191px;}
.form-tab td span.error i{background-position:left -86px;}
.form-tab td span.succ i{background-position:left -453px;}
.form-tab td .pass_safe{background: #ccc;width:203px;height:15px;line-height:15px;margin-top:8px;}
.form-tab td .pass_safe i{line-height:15px;display:inline-block;border-left:1px solid #fff;color:#fff;width:67px;text-align:center;float:left;font-style:normal;}
.form-tab td .pass_safe i.safe-l{border-left:none;}
.form-tab .mail_td{position:relative;}
.form-tab td .mail_point{position:absolute;left:-1px;top:32px;background:#fff;border:1px solid #ccc;border-top:none;width:202px;display:none;}
.form-tab td .mail_point li{line-height:28px;padding:0 10px;width:180px;overflow: hidden;cursor:pointer;}
.form-tab td .mail_point li i{font-style:normal;}
.form-tab td.remarks span strong{margin:0 4px;}
.form-tab td.remarks span strong.red{color:red;}
.form-tab td.remarks span span{color:blue;cursor:pointer;}