#banner{width:600px;height:228px;margin:20px auto;}
.picbox{width:600px;height:228px;position:relative;}
.picbox .bigpic_ul li{display:none;filter:alpha(opacity=0);opacity:0;position: absolute;left:0;top:0;}
.picbox .bigpic_ul li img{width:600px;height:228px;display:block;}
.picbox .picbtn{width:30px;height:30px;background:yellow;position:absolute;top:50%;margin-top:-15px;display:none;cursor:pointer;}
.picbox .next{right:10px;}
.picbox .prev{left:10px;}
.pic-bottom{position: absolute;bottom:0px;z-index:4;width:100%;height:40px;background:black;filter:alpha(opacity=60);opacity:0.6;}
.pic-list{position: absolute;right:0;bottom:10px;z-index:5;}
.pic-list li{float:left;width:20px;height:20px;line-height:20px;text-align:center;margin-right:5px;background:yellow;cursor:pointer;}
.pic-list li.hover{background:pink;}
.pic-text{position: absolute;z-index:5;left:10px;bottom:10px;line-height: 20px;color: #fff;}