<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>设置信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="css/from.css">
</head>
<body>
    <section class="g-setform" id="j-form">
        <num v-if="isNum"></num>
        <add v-else></add>
    </section>
    
    <template id="tNum">
        <header class="m-heard j-header">
            每个账户仅能设置<span>唯一{{type | typeStr}}</span>，且<span>无法修改</span>
        </header>
        <div class="m-infbox m-infboxdr">
            <form @submit.prevent="postData">
                <label class="m-textla" v-bind:class="{ 'z-textdel': message && isd.message }">
                    <i @click="emptyInput('message')"></i>
                    <input class="m-text" type="text" v-model="message" @focus="showdeltips('message',true)" @blur="showdeltips('message',false)" placeholder="请输入要充值的{{type | typeStr}}">
                </label>
                <label class="m-textla" v-bind:class="{ 'z-textdel': messageConfirm && isd.messageConfirm }">
                    <i @click="emptyInput('messageConfirm')"></i>
                    <input class="m-text" type="text" v-model="messageConfirm" @focus="showdeltips('messageConfirm',true)" @blur="showdeltips('messageConfirm',false)" placeholder="请再次输入{{type | typeStr}}">
                </label>
                <input class="m-button" v-bind:class="{ 'z-prevent': !message || !messageConfirm }" type="submit" name="submit" value="确定">
            </form>
        </div>
    </template>

    <template id="tAdd">
        <header class="m-heardtr">
            <h3>请务必填写正确的收货信息</h3>
            <p>当前信息填写后，则<span>无法修改</span></p>
        </header>
        <div class="m-infbox m-infboxtr">
            <form @submit.prevent="postData">
                <label class="m-textla i-must" v-bind:class="{ 'z-textdel': name && isd.name }">
                    <i @click="emptyInput('name')"></i>
                    <input class="m-text" v-model="name" type="text" @focus="showdeltips('name',true)" @blur="showdeltips('name',false)" placeholder="收货人姓名">
                </label>
                <label class="m-textla i-must" v-bind:class="{ 'z-textdel': phoneNum && isd.phoneNum }">
                    <i @click="emptyInput('phoneNum')"></i>
                    <input class="m-text" v-model="phoneNum" type="number" @focus="showdeltips('phoneNum',true)" @blur="showdeltips('phoneNum',false)" placeholder="手机号码">
                </label>
                <a href="javascript:;" @click="selRegion" class="m-textla m-addsella i-must">
                    <span>省、市、区</span>
                    <span class="selecd">{{region}}</span>
                </a>
                <label class="m-textla i-must" v-bind:class="{ 'z-textdel': address && isd.address }">
                    <i @click="emptyInput('address')"></i>
                    <input class="m-text" v-model="address" type="text" @focus="showdeltips('address',true)" @blur="showdeltips('address',false)" placeholder="详细地址">
                </label>
                <label class="m-textla" v-bind:class="{ 'z-textdel': qq && isd.qq }">
                    <i @click="emptyInput('qq')"></i>
                    <input class="m-text" v-model="qq" type="number" @focus="showdeltips('qq',true)" @blur="showdeltips('qq',false)" placeholder="QQ号码">
                </label>
                <input class="m-button" v-bind:class="{ 'z-prevent': !name || !phoneNum || !region || !address }" type="submit" name="submit" value="确定">
            </form>
        </div>
    </template>

	<div style="padding: 20px;line-height: 2;">
		<li><a href="sp1.设置个人信息.html?type=qq">设置QQ号码</a></li>
		<li><a href="sp1.设置个人信息.html?type=phone">设置电话号码</a></li>
		<li><a href="sp1.设置个人信息.html?type=mimi">设置米米号码</a></li>
		<li><a href="sp1.设置个人信息.html?type=duoduo">设置多多号码</a></li>
		<li><a href="sp1.设置个人信息.html?type=address">设置地址</a></li>
	</div>
    
    

    <script src="js/vue.js"></script>
    <script>
    	/*客户端方法*/
        var TopicApp = {};
        var ClientAPI = {};
        ClientAPI.onJsToast = function(msg){
            alert(msg);
        }
        ClientAPI.onJsGetData = function(options){
        	setTimeout(function(){
	        	if(options.id == 'bindInfo'){
	        		TopicApp.onJsGetDataCallBack(options.id,{phoneNum: '15260829776', qq: '498468928'});
	        	}else{
	            	alert(JSON.stringify(options.data));
	        	}
	        },10);
        }
        ClientAPI.onJsGetAddress = function(){
        	TopicApp.onJsGetAddressCallBack('福建 厦门');
        };
        TopicApp.onJsGetDataCallBack = function(id,data){
            data = JSON.parse(data);
            ClientAPI.onJsToast(data.message);
            if(data.code == 100){
                setTimeout(function(){
                    ClientAPI.onJsPageBack();
                },1000);
            }
        };
        TopicApp.onJsGetAddressCallBack = function(data){
        	vueAdd.$children[0].region = data;
        };


        /*tools*/
        var tools = {};
        tools.isQQ = function(num){
            return RegExp(/^[1-9][0-9]{4,9}$/).test(num);
        };
        tools.isPhone = function(num) {
            return RegExp(/^[1-9][0-9]{10}$/).test(num);
        };
        tools.getUrlParam = function(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        };


        /*设置号码类*/
        Vue.component('num',{
            template: '#tNum',
            data: function(){
                return {
                    message: '',
                    messageConfirm: '',
                    typeStr:  {
                        qq: 'QQ号',
                        phone: '手机号',
                        mimi: '米米账号',
                        duoduo: '多多账号',
                        zfb: '支付宝账号'
                    },
                    isd: {
                    	message: '',
                    	messageConfirm: ''
                    }
                }
            },
            created: function(){
                this.type = this.$parent.type;
            },
            methods: {
                emptyInput: function(key){
                    this[key] = '';
                },
                showdeltips: function(key,value){
                	var _this = this;
            		setTimeout(function(){
                		_this.isd[key] = value;
            		});
                },
                postData: function(e){
                	if(e.target.submit.className.indexOf('z-prevent') > -1){
            			return;
            		}

                    var message = this.message.trim();
                    var messageConfirm = this.messageConfirm.trim();
                    var type = this.type;

                    if( message !== messageConfirm ){
                        ClientAPI.onJsToast('两次输入不一致。');
                        return false;
                    }else if( type == 'qq' && !tools.isQQ(message)  ){
                        ClientAPI.onJsToast('QQ号格式有误');
                        return false;
                    }else if(type == 'phone' &&  !tools.isPhone(message)){
                        ClientAPI.onJsToast('请输入11位数的手机号');
                        return false;
                    }
                    ClientAPI.onJsGetData({
                        id: type,
                        type: 'post',
                        url:'',
                        data:{key:type, value: message}
                    });
                }
            }
        });


        /*设置地址类*/
        Vue.component('add',{
            template: '#tAdd',
            data: function(){
                return {
                    name: '',
                    phoneNum: '',
                    region: '',
                    address: '',
                    qq: '',
                    isd: {
                    	name: '',
                    	phoneNum: '',
                    	region: '',
                    	address: '',
                    	qq: ''
                    }
                }
            },
            methods: {
            	selRegion: function(e){
            		ClientAPI.onJsGetAddress();
            	},
            	showdeltips: function(key,value){
            		var _this = this;
            		setTimeout(function(){
                		_this.isd[key] = value;
            		});
                },
            	emptyInput: function(key){
            		this[key] = '';
            	},
            	postData: function(e){
            		if(e.target.submit.className.indexOf('z-prevent') > -1){
            			return;
            		}

            		var Pdata = {};
                    Pdata.phone = this.phoneNum + '';
            		Pdata.qq = this.qq + '';

                    if(!tools.isPhone(Pdata.phone)){
                        ClientAPI.onJsToast('请输入11位数的手机号');
                        return false;
                    }
        			if( Pdata.qq && !tools.isQQ(Pdata.qq)  ){
    		            ClientAPI.onJsToast('QQ号格式有误');
    		            return false;
    		        }
            		Pdata.name = this.name;
            		Pdata.address = this.region.replace(/\s/g,'') + this.address.trim();
            		
                    ClientAPI.onJsGetData({
                        id: 'address',
                        type: 'post',
                        url:'',
                        data:Pdata
                    });

            	}
            }
        });

        Vue.filter('typeStr', function (type) {
            return this.typeStr[type] || '';
        });

        var vueAdd = new Vue({
            el: '#j-form',
            data: {},
            init : function(){
                this.type = tools.getUrlParam('type');
                this.isNum = this.type !== 'address';
            }
        });
        
        

    </script>
</body>
</html>
