@charset "utf-8";

@function px($size){
    @return ($size/100) + rem
}

html { font-size:50px; }
@media (min-width:320px){
    html { font-size:50px; }
}
@media (min-width:360px){
    html { font-size:56.25px; }
}
@media (min-width:375px){
    html { font-size:58.59375px; }
}
@media (min-width:414px){
    html {font-size:64.6875px; }
}

body, dl, dd, h1, h2, h3, h4, h5, h6, p, form,canvas{ margin:0; font-weight: normal; }
ol,ul,li { margin:0; padding:0; list-style:none; }
article, aside, details, figcaption, figure, footer, header, menu, nav, section,canvas { display: block; }
.clearfix:after { content: '';  display: table;  clear: both; }
.clearfix { *zoom: 1; }
a { border:none;text-decoration:none; }
a,button,input{-webkit-tap-highlight-color:rgba(0,0,0,0);}
a:active { opacity: 0.8; }
img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    margin:0;
    border:none;
}

$green: #54ba3d;
$border: #e1e1e1;
$t1c: #333;
$t2c: #8a8a8a;

html,body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    -webkit-user-select:none;
    -webkit-text-size-adjust:none;
    user-select:none;
    text-size-adjust:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    font:px(24)/1.4286 "Microsoft YaHei", "PingFangSC-Regular", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    color: #333;
    background-color: #36cbd3;
}

.g-share {
    .m-heard {
        width: 100%;
        height: px(443-50);
        padding-top: px(50);
        background: url(../images/share/bg.png);
        background-size: cover;
        text-align: center;
        position: relative;
        &:before,&:after {
            content: '';
            position: absolute;
            top: 0;
            width: px(147);
            height: px(445);
            background-size: px(147) px(445);
        }
        &:before {
            left: 0;
            background-image: url(../images/share/l.png);
        }
        &:after {
            right: 0;
            background-image: url(../images/share/r.png);
        }
        h1 {
            width: px(468);
            height: px(162);
            background: url(../images/share/tt.png);
            background-size: px(468) px(162);
            font-size: 0;
            line-height: 0;
            position: relative;
            margin: 0 auto px(10);
            z-index: 2;
        }
        a {
            display: inline-block;
            width: px(250);
            height: px(82);
            background: url(../images/share/btn.png);
            background-size: px(250) px(82);
            margin-bottom: px(10);
        }
        p {
            color: #fff;
            font-size: px(22);
            position: relative;
            z-index: 2;
        }
    }
    .m-titi {
        text-align: center;
        height: px(80);  
        line-height: px(80);
        background: #199299;
        color: #fff;
        font-size: px(30);
        font-weight: bold;
    }

    .m-ccon {
        padding: px(30) 0;
        color: #fff;
        a,strong {
            color: #f3ff2f;
        }
        .m-info {
            width: px(500);
            box-sizing: border-box;
            padding: px(30);
            font-size: px(22);
            background: #199299;
            margin: 0 auto px(20);
            -webkit-transform: translate(px(40),0);
            transform: translate(px(50),0);
            border-radius: px(20);
            a {
                text-decoration: underline;
            }
            i {
                position: absolute;
                width: px(100);
                height: px(90);
                background: url(../images/share/tip.png);
                background-size: px(100) px(90);
                left: 0;
                margin-left: px(-100);
                margin-top: px(-35);

                font-size: px(33);

                line-height: px(120);
                text-indent: px(25);
                font-style: normal;
                color: #fff;
                font-weight: bold;
            }
        }
        .qcode {
            width: px(130);
            height: px(130);
            background: #fff url(../images/share/qcode.png); 
            background-size: px(130) px(130);
            margin: 0 auto px(10);
        }
        .qcodett {
            text-align: center;
            font-size: px(22);
            margin-bottom: px(30);
            color: #0a5054;
            strong {
                color: #0a5054;
            }
        }
        .m-pic1 {
            margin: 0 auto px(40);
            width: px(528);
            height: px(536);
            background: url(../images/share/shpic1.png);
            background-size: px(528) px(536);
        }
        .m-pic2 {
            width: px(528);
            height: px(610);
            background: url(../images/share/shpic2.png);
            background-size: px(528) px(610);
            margin: 0 auto;
        }
    }
    
}

.g-welcome{background-image:url(../images/wel/welbg.png);background-color:#2BCBCD;background-size:cover;height:100%;width:100%;overflow:hidden;-webkit-transition:all 0.8s;transition:all 0.8s;position:absolute;z-index:100}.g-welcome.hide{-webkit-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1);transform:translate3d(0, -100%, 0) scale3d(1, 1, 1)}.g-welcome .m-dx{position:absolute;left:50%;top:50%}.g-welcome .m-logo{font-size:0;line-height:0;overflow:hidden;width:3.35652rem;height:1.38261rem;background:url(../images/wel/title.png);background-size:3.35652rem 1.38261rem;margin-left:-1.67826rem;margin-top:-4.17391rem}.g-welcome .m-message{left:0;width:100%;height:0.76522rem;margin-top:-2.17391rem;padding:0.13913rem 0;background:rgba(255,255,255,0.25);border:1px solid rgba(255,255,255,0.5);border-left:none;border-right:none;-webkit-transition:all 0.2s ease-out;transition:all 0.2s ease-out;opacity:0;-webkit-transform:translate3d(0, 0.34783rem, 0);transform:translate3d(0, 0.34783rem, 0)}.g-welcome .m-message.show{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}.g-welcome .m-message .con{width:5.33913rem;margin:0 auto}.g-welcome .m-message .logo{float:left;width:0.76522rem;height:0.76522rem;background:url(../images/wel/icon.png);background-size:0.76522rem 0.76522rem;margin-right:0.17391rem}.g-welcome .m-message dl{color:#fff}.g-welcome .m-message dt{font-size:0.31304rem;margin-bottom:0.01739rem;line-height:0.41739rem}.g-welcome .m-message dt span{float:right;font-size:0.2087rem;opacity:0.5}.g-welcome .m-message dd{font-size:0.2087rem}.g-welcome .m-bg{width:6.6087rem;height:3.67826rem;background:url(../images/wel/pic.png);background-size:6.6087rem 3.67826rem;margin-left:-3.30435rem;margin-top:0.08696rem}.g-welcome .m-arrow{position:absolute;width:100%;font-size:0.27826rem;color:#fff;bottom:0.26087rem;text-align:center}.g-welcome .m-arrow:after{content:'';display:block;margin:0.13043rem auto 0;width:0.31304rem;height:0.31304rem;background:url(../images/wel/arrow.png);background-size:0.31304rem 0.31304rem;-webkit-animation:loop 2s infinite ease-in-out;animation:loop 2s infinite ease-in-out}
.g-share .m-prize .heard,.g-share .m-prize .heard1:before,.m-helptip,.g-diacon .m-dw .bg,.g-diacon .m-dw.left .bg,.g-diacon .m-dw.exciting .bg,.g-diacon .m-pop .sface i,.g-diacon .m-pop .wenzn,.g-diacon .m-pop .bubbimg4 a,.g-diacon .m-dwczzzzzz .dw,.g-diacon .m-dwczzzzzz .qzb,.g-diacon .m-dwczzzzzz .text span,.g-diacon .m-dwczzzzzz.boom .dw,.g-diacon .m-prize span,.g-btinput .m-icon,.g-btinput .m-input:after,.g-dialog .m-hongbao .end:before,.g-dialog .m-prize .heard,.g-dialog .m-prize .heard1:before,.g-dialog .m-prize .heard2:before,.g-dialog .m-prize .context .huizang{background-image:url("../images/sprite.png");background-repeat:no-repeat;background-size:11.51304rem 7.8087rem}
.g-dialog{background:rgba(0,0,0,0.4);position:fixed;left:0;right:0;top:0;bottom:0;z-index:999}.g-dialog .m-diacon{position:fixed;left:50%;top:50%;width:5.21739rem;margin-left:-2.6087rem;border-radius:0.15652rem;overflow:hidden;margin-top:-1.73913rem}.g-dialog .m-btn{text-align:center;margin-bottom:0.34783rem}.g-dialog .m-btn a{display:inline-block;width:2.43478rem;height:0.69565rem;line-height:0.69565rem;text-align:center;background:#ffba13;color:#fff;border-radius:0.13043rem;font-size:0.29565rem}.g-dialog .m-btn p{margin-top:0.13043rem;font-size:0.1913rem;padding-bottom:0.26087rem}.g-dialog .m-btn.m-btn2 a{width:1.91304rem;margin:0 0.08696rem}.g-dialog .m-btn.m-btn2 a.or{background:#ffbd2e}
.g-dialog .m-prize{width:5.21739rem;background:#fff}.g-dialog .m-prize .heard{background-position:0 0;width:5.21739rem;height:1.73043rem;background-color:#e6ffa4;position:relative}.g-dialog .m-prize .heard1:before{content:'';position:absolute;bottom:0;left:0.21739rem;background-position:86.7031% 27.58152%;width:1.96522rem;height:1.4087rem}.g-dialog .m-prize .heard1 p{font-size:0.26087rem;color:#557414;width:2.95652rem;text-align:center;float:right;padding-top:0.33043rem;margin-right:0.17391rem}.g-dialog .m-prize .heard2:before{content:'';position:absolute;left:50%;bottom:0;margin-left:-1.07391rem;background-position:65.08821% 27.80822%;width:2.14783rem;height:1.46087rem}.g-dialog .m-prize .context{text-align:center;padding:0.34783rem 0 0.26087rem}.g-dialog .m-prize .context .huizang{display:inline-block;background-position:20.28095% 58.3685%;width:1.6087rem;height:1.62609rem}.g-dialog .m-prize .context p{font-size:0.26087rem;color:#557414}.g-dialog .m-prize .m-btn a{background:#b0dd37}.g-dialog .m-prize .m-btn p{color:#82bc3c}
footer {
    height: px(120);
    margin-bottom: px(30);
    position: relative;
    p {
        text-align: center;
        color: #0a5054;
        font-size: px(22);
        &:before {
            content: '';
            display: block;
            width: px(278);
            height: px(38);
            background: url(../images/share/footer.png);
            background-size: px(278) px(38);
            margin: 0 auto px(5);
        }
    }
}

#__bs_notify__ {
    display: none !important;
}



