.g-depic {
    width: 100%;
    overflow: hidden;
    background: #fff;
    margin: 0 auto px(20);
    box-shadow: 0 3px 15px #c9ddfd;

    .m-slide {margin:0 auto;width:100%;height: 0;overflow: hidden; padding-top: 62.5%;position:relative;}
    .m-slide .slide_main {height:100%;width:100%;overflow:hidden;position:absolute; top:0;}
    .m-slide .slide_main li { width:100%;z-index:0;float:left;}
    .m-slide .slide_main li a{ display:block}
    .m-slide .slide_main li img { width:100%; display: block;}
    .slide_nav {
        position:absolute;
        width:100%;
        height: px(60);
        background: rgba(0,0,0,0.5);
        background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.5));
        bottom:0;
        .m-title {
            float: left;
            color: #fff;
            line-height: px(60);
            font-size: px(24);
            margin-left: px(20);
            span {
                display: inline-block;
                line-height: 1;
                padding: px(5) px(8) px(8);
                font-size: px(20);
                margin-right: px(10);
                border-radius: px(5);
                background: #41c75d;
                &.i-end {
                    background: #3ca5ff;
                }
                &.i-ing {
                    background: #ffb914;
                }
            }
        }
        ol {float: right;padding:4px;margin-top: px(22);margin-right: px(10);}
        ol li {display:inline-block;float:left;height:7px;width:7px;overflow:hidden;background-color:rgba(255,255,255,0.5);border-radius:3px;margin:0 3px;}
        ol li.cur {background-color:#fff;}
    }
    .m-info {
        width: px(604);
        margin: 0 auto;
        padding: px(20) 0;
        display: table;
        .info {
            display: table-cell;
            font-size: px(22);
            padding: 0 px(10);
                vertical-align: middle;
        }
        .link {
            width: px(180);
            vertical-align: middle;
            text-align: right;
            display: table-cell;
            border-left: 1px solid #adceff;
            a {
                font-size: px(22);
                color: #0893f6;
                background: no-repeat right center url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAWCAMAAADD5o0oAAAAS1BMVEUAAAAIk/YIk/YIk/YIk/YIk/YIk/YIk/YIk/YIk/YIk/YIk/YIk/YIk/YIk/YIk/YIk/YIk/YIk/YIk/YIk/YIk/YIk/YIk/YIk/ZLoH6QAAAAGHRSTlMA+eb160kyKOLeVjwhHNq4dWFcT0Iu7iQ88khbAAAAXElEQVQY023PSRKAIAwEQAMIqCjuzv9fql4yUMqJrlSWaaqX3UAY2F3hHWyrOhyECgayVepVVyyVOsiqGh8t1ATM3AfIXyUVPSlyWuAe3sNLPxn8+aZjUubOhv8bb94Ell4hvOgAAAAASUVORK5CYII=);
                background-size: px(12) px(22);
                padding-right: px(25);
                margin-right: px(10);
                display: inline-block;
                width: px(90);
                text-overflow:ellipsis; 
                overflow:hidden; 
                white-space:nowrap; 
                &:before {
                    content: '';
                    position: absolute;
                    margin-left: px(-40);
                    width: px(36);
                    height: px(36);
                    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAAdVBMVEX///8Ik/ab1PuU0Pv4/P98xvre8f78/v/S7P2s2/yk2PxMsfkNlvb0+v+h1vyCyfq64f1qvvoVmffv+P5zwvpkvPk0pvgpoveGyvtsv/rW7f7I5/2+4/1at/lYt/lGr/jx+f/j8/7Y7v6u2/yMzfstpPe03vyT+xndAAABPklEQVQ4y62T6W6DMBCE/RkCJgbCEUjIRc6+/yP2Qixgt1Klzr+1R7vrmbH6G8KiayuqtivCnyjxHsEm83I0YLWpVW20BbSHs4LSjFW0hZWPE8wOApelIV8crZcTM+kz6zXbfsNWudiymeoDkYcUQSjVg4vy4UwiRUPuJeU0UrQYv033oxQVtd+o21UKcAmncpemIK0qrgtK0jOgT8adDo5JvY7i8HawsJLX+YysTSgeJpwXriWDTm+fl6w9ikMwVTwA17sTdu6d5eSkoETPU6ApnTztvmfnY54iduODngMp/drkKckMScdI0ZlBWqVMh4RJSEoDl9zE6kVcI9mVcfLvjhkcVLCPp7o102g8mjaI98sIWgrlIE3lUMQUiC0DxJZffqoY7GNZHYXZXUtUfBNHyCwXxUd8q1dZqP/GO3XkDFRXfefkAAAAAElFTkSuQmCC);
                    background-size: px(36) px(36);
                }
            }
        }
    }
}

@mixin debox(){
    background: #fff;
    box-shadow: 0 2px 10px #c9ddfd;
    background: #fff url(../images/listbg.png) repeat-x bottom center;
    background-size: px(604) px(69);
    border-radius: px(8);
    width: px(604);
    margin: 0 auto px(20);
}

.g-debtn {
    @include debox;
    .m-titi {
        padding-top: px(15);
        text-align: center;
        color: #888888;
        span {
            color: $red;
        }
    }
    .m-btn {
        display: block;
        margin: px(20) px(30);
        height: px(70);
        line-height: px(70);
        text-align: center;
        color: #fff;
        background: #ffc51c;
        background-image: linear-gradient(to bottom,#ffd729,#ffb511);
        border-radius: px(8);
        font-size: px(34);
    }
    .m-tips {
        height: px(62);
        text-align: center;
        line-height: px(62);
        overflow: hidden;
        border-top: 1px solid #e2eeff;
        color: #888888;
    }
}

.g-deplan {
    @include debox;
    h5 {
        text-align: center;
        font-size: px(28);
        color: #888;
        padding-top: px(15);
        span {
            color: $red;
        }
        &:before {
            position: absolute;
            content: '';
            width: px(37);
            height: px(35);
            background: url(../images/de-ico.png);
            background-size: px(37) px(35);
            margin-left: px(-43);
        }
    }
    .m_hdif {
        width: px(525);
        height: px(26);
        background: #adceff;
        border-radius: px(13);
        margin: px(10) auto;
        overflow: hidden;
        span {
            display: block;
            height: px(26);
            background: $blue;
        }
    }
    .m_tt {
        font-size: px(20);
        padding: 0 px(40) px(15);
        color: #888;
        p:first-child {
            float: left;
        }
        p:last-child {
            float: right;
        }
        span {
            color: $red;
            font-size: px(24);
            margin: 0 px(5);
        }
    }
}

.g-detime {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 10px #c9ddfd;
    margin: 0 auto px(20);
    .m-warp {
        width: px(604);
        height: px(80);
        padding: px(30) 0 px(35);
        margin: 0 auto;
    }
    .m-titt {
        font-size: px(30);
        color: $red;
        float: left;
        width: px(280);
    }
    .m-time {
        float: right;
        i {
            display: inline-block;
            width: px(60);
            height: px(80);
            line-height: px(80);
            text-align: center;
            font-style: normal;
            background: #fafafa;
            font-size: px(48);
            border-radius: px(8);
            box-shadow: 0 0 0 1px #d9d9d9;
            font-weight: bold;
            color: #333;
            margin: 0 px(5);
        }
        span {
            color: #a7a7a7;
            font-size: px(40);
            margin: 0 px(5);
        }
    }
}

.g-delink {
    @include debox;

    a {
        display: block;
        position: relative;
        margin: 0 px(10);
        line-height: px(78);
        font-size: px(26);
        text-indent: px(20);
        border-bottom: 1px solid #e2eeff;
        color: #333;
        &:last-child {
            border: none;
        }
        &:after {
            content: '';
            position: absolute;
            width: px(23);
            height: px(40);
            background: url(../images/de-ico2.png);
            background-size: px(23) px(40);
            right: px(10);
            top: 50%;
            margin-top: px(-20);
        }
        p {
            i {
                font-style: normal;
                color: $red;
            }
        }
        span {
            position: absolute;
            right: px(50);
            top: 0;
            font-size: px(24);
            color: #62cc21;
        }
    }
}

.g-dedbres {
    @include debox;
    .m-fail {
        border-bottom: 1px solid #e2eeff;
        p {
            width: px(352);
             padding: px(30) 0;
            font-size: px(30);
            color: $red;
            margin-left: px(200);
        }
        &:before {
                content: '';
                position: absolute;
                width: px(80);
                height: px(124);
                background: url(../images/de-douwa.png);
                background-size: px(80) px(124);
                margin-left: px(100);
                margin-top: px(10);
            }
    }
    .m-succ {
        border-bottom: 1px solid #e2eeff;
        text-align: center;
        font-size: px(22);
        line-height: px(84);
        color: $red;
    }
    .m-user {
        padding: px(20) px(30);
        .title {
            font-size: px(22);
            color: $red;
            margin-bottom: px(20);
        }
        .avast {
            height: px(120);
            width: px(120);
            float: left;
            margin-right: px(20);
            img {
                height: px(120);
                width: px(120);
                border-radius: 50%;
            }
        }
        .info {
            height: px(120);
            float: left;
            h6 {
                font-size: px(28);
                color: #333;
                margin-top: px(20);
                margin-bottom: px(8);
            }
            p {
                font-size: px(20);
                color: #999;
            }
        }
        .btn {
            float: right;
            width: px(150);
            height: px(70);
            line-height: px(70);
            text-align: center;
            background: #62cc21;
            border-radius: px(8);
            color: #fff;
            font-size: px(32);
            margin-top: px(25);
            &.btned {
                background: #ffb128;
            }
            &.btnover {
                background: #333;
            }
        }
    }
}

.g-shopDia {
    background: rgba(0,0,0,0.3);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;

    .m-diacon {
        width: px(516);
        margin-left: px(-582/2);
        position: fixed;
        left: 50%;
        top: 50%;
        border-radius: px(8);
        background: #fff url(../images/listbg.png) repeat-x bottom center;
        background-size: px(604) px(69);
        color: #333;
        overflow: hidden;
    }

    .m-btntwo {
        margin-left: px(30);
        margin-bottom: px(40);
        a {
            display: inline-block;
            margin-right: px(15);
            width: px(218);
            height: px(60);
            text-align: center;
            line-height: px(60);
            background: #adceff;
            color: #fff;
            font-size: px(28);
            border-radius: px(8);
            &.m-ok {
                background:#259eff;
                background-image:linear-gradient(to bottom,#259eff,#2360ff);
            }
        }
    }
    .m-btnone {
        a {
            display: block;
            text-align: center;
            color: #fff;
            height: px(60);
            line-height: px(54);
            border-radius: px(8);
            font-size: px(28);
            background:#259eff;
            background-image:linear-gradient(to bottom,#259eff,#2360ff);
        }
    }

    .m-ds1 {
        h5 {
            font-size: px(32);
            margin-bottom: px(12);
            padding: px(30) px(40) 0;
        }
        .m-tt {
            padding: 0 px(40);
            font-size: px(20);
            color: #888;
            line-height: px(30);
            margin-bottom: px(20);
        }
        .m-setbox {
            width: px(430);
            height: px(62);
            border-radius: px(8);
            overflow: hidden;
            box-shadow: 0 0 0 1px #adceff;
            margin: 0 auto px(20);
            position: relative;
            .m-numbtn {
                width: px(92);
                height: px(62);
                border: none;
                background: #f7faff;
                font-size: px(60);
                line-height: px(52);
                text-align: center;
                color: #4790ff;
                &:first-child {
                    float: left;
                }
                &:last-child {
                    float: right;
                }
            }
            ::-webkit-input-placeholder { 
                color: #adceff; 
            } 
            .m-numipt {
                position: absolute;
                z-index: 2;
                height: px(62);
                border: none;
                background: #fff;
                width: px(250);
                border-left: 1px solid #adceff;
                border-right: 1px solid #adceff;
                border-radius: 0;
                padding: 0;
                text-indent: px(15);
            }
        }
        .m-checknum {
            margin-left: px(43);
            margin-bottom: px(20);
            a {
                float: left;
                width: px(92);
                height: px(56);
                text-align: center;
                line-height: px(56);
                background: #f7faff;
                box-shadow: 0 0 0 1px #adceff;
                border-radius: px(8);
                color: #4790ff;
                font-size: px(28);
                margin-right: px(20);
            }
        }
        .m-isdbq {
            margin-left: px(36);
            line-height: px(30);
            padding-left: px(40);
            position: relative;
            input {
                left: 0;
                background: #fff;
                position: absolute;
                margin-right: px(10);
            }
            color: $blue;
            font-size: px(28);
        }
        .m-info {
            padding: px(20) px(40) px(10);
            font-size: px(20);
            color: #adceff;
        }
    }
    .m-ds2 {
        box-sizing: border-box;
        height: px(400);
        padding: px(40);
        i {
            position: absolute;
            width: px(120);
            height: px(188);
            background-image: url(../images/de-douwa2.png);
            -webkit-background-size: cover;
            background-size: cover;
            &.m_i6 {
                background-image: url(../images/de-douwa3.png);
            }
        }
        h5 { 
            font-size: px(30); 
            padding: px(50) 0 px(10) px(140); 
        }
        .m-tt2 { 
            font-size: px(24); 
            color: #ff5e67; 
            padding-left: px(140); 
            margin-bottom: px(80);
        }
        .m-tt6 {
            padding-top: px(50);
            line-height: 1.5;
            padding-left: px(140); 
            font-size: px(28);
            margin-bottom: px(40);
            span {
                color: $red;
            }
        }
    }
    .m-dsinfo {
        p {
            text-align: center; 
            padding: px(30) 0; 
            line-height: 1.6;
            font-size: px(30);
        }
    }
    .m-dscontace {
        .m-warp {
            padding: px(40);
        }
        h3 {
            font-size: px(36);
            margin-bottom: px(30);
        }
        dl { 
            margin-bottom: px(40); 
            dt { float: left; color: #999; }
            dd { padding-left: px(130); }
            .m_phone { color: #fd606c; }
        }
        h5 { font-weight: normal; color: #fd606c; }
        p { color: #999; }
    }

    .m-shopswdiaCon {
        position: absolute;
        left: 50%;
        top: 50%;
        width: px(540);
        border-radius: px(15);
        overflow: hidden;
        .m-heard {
            background: #5ebb44;
            color: #fff;
            padding: px(40) px(30);
            h4 {
                font-size: px(34);
                line-height: px(46);
                padding-bottom: px(10);
                .edit {
                    float: right;
                    font-size: px(26);
                    color: #fff100;
                    padding-left: px(45);
                    background: url(../images/edit.png) no-repeat left center;
                    background-size: px(34) px(34);
                }
            }
            .m-address {
                .nodata {
                    display: block;
                    text-align: center;
                    color: #fff100;
                    line-height: px(190);
                    font-size: px(28);
                }
                .data {
                    font-size: px(26);
                    line-height: 1.6;
                    padding: px(10) 0;
                    p {
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
            }
            .m-remark {
                font-size: px(26);
                input {
                    padding: 0;
                    background: none;
                    width: px(320);
                    border: none;
                    outline: none;
                    color: #fff;
                    display: inline-block;
                }
                ::-webkit-input-placeholder{
                    color: #c9e5c3 !important;
                } 
            }
        }
        .m-prompt {
            padding: px(30);
            font-size: px(24);
            line-height: px(38);
            color: #757575;
            background: #fff;
            strong {
                font-size: px(28);
                font-weight: normal;
                display: inline-block;
                margin-bottom: px(10);
            }
            span {
                color: #ffa401;
            }
        }
        .m-btn {
            height: px(90);
            text-align: center;
            background: #fff;
            a {
                position: relative;
                display: block;
                width: 50%;
                float: left;
                line-height: px(90);
                border-top: 1px solid #eaeaea;
                box-sizing: border-box;
                font-size: px(34);
                color: #333;
                &:first-child:after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    right: 0;
                    height: 100%;
                    border-left: 1px solid #eaeaea;
                }
                &.ok {
                    color: #5ebb44;
                    font-weight: bold;
                }
            }
        }
    }

    .m-dsmynum {
        padding: px(40);
        box-sizing: border-box;
        h3 {
            font-size: px(36);
            margin-bottom: px(30);
        }
        p { 
            line-height: 1.6; 
            font-size: px(24); 
            margin-bottom: px(20); 
            color:#ff5e67;
            a {
                color:#ff5e67;
                text-decoration: underline;
            }
        }
        ul { 
            margin-right: px(-10); 
            margin-bottom: px(10);
            max-height: px(364);
            overflow: auto; 
        }
        ul:after { content: ''; display: table; clear: both; }
        ul li { 
            float: left;
            width: px(134); 
            margin: 0 px(10) px(10) 0; 
            height: px(60); 
            line-height: px(60); 
            text-align: center; 
            background-color: #fff9f9; 
            color: #a37676; 
            border: 1px solid #ead8d8;  
            border-radius: px(8); 
        }
    }

    .m-ticket {
        h5 {
            height: px(104);
            padding: px(25) 0;
            background: #eff5ff;
            &:before {
                content: '';
                display: block;
                width: px(350);
                height: px(104);
                background: url(../images/de-rebg.png);
                background-size: px(350) px(104);
                margin: 0 auto;
            }
        }
        .m-tt {
            text-align: center;
            font-size: px(28);
            color: #333;
            padding: px(30) 0 px(40);
        }
    }
    .m-mydig {

        padding: px(40) px(30);
        h5 {
            font-size: px(36);
        }
        dl {
            padding: px(30) px(10);
        }
        dt {
            font-size: px(28);
            color: #ff5e67;
            margin: px(5) 0;
        }
        .fz {
            dt {
                font-size: px(24);
            }
            padding-bottom: px(50);
        }
        dd {
            font-size: px(24);
            line-height: 1.6;
        }
        .m-btnone {
            padding: 0 px(40);
        }
    }
}

