
.g-header {
    width: 100%;
    max-width: 640px;
    background: #fff url(../images/banner.png) no-repeat;
    background-size: 100% px(544);
    margin: 0 auto;
    position: relative;
    box-shadow: 0 3px 15px #c9ddfd;
    .m-bg {
        width: px(640);
        height: px(563);
        position: relative;
        margin: 0 auto;
        background: url(../images/hedbg.png);
        background-size: px(640) px(563);
    }
    .m-cloue {
        position: absolute;
        width: 100%;
        height: px(229);
        background: url(../images/hedcloue.png);
        top: px(338);
        left: 0;
        background-size: 100% px(229);
    }
    .avast {
        position: absolute;
        width: px(90);
        height: px(90);
        border-radius: 50%;
        background: url(../images/avast.png);
        background-size: px(90) px(90);
        top: px(290);
        left: px(75);
        box-shadow: 0 0 0 2px #91490f;
        img {
            width: px(90);
            height: px(90);
            border-radius: 50%;
        }
    }
    .num {
        position: absolute;
        font-size: px(20);
        line-height: px(47);
        text-align: center;
        top: px(440);
        right: px(85);
        height: px(47);
        color: #662607;
        padding: 0 px(20);
        background: url(../images/topnum.png) no-repeat;
        background-size: 100% px(47);
        &:before {
            content: '';
            position: absolute;
            width: px(26);
            height: px(68);
            background: url(../images/topnumbot.png);
            background-size: px(26) px(68);
            top: px(47);
            left: 50%;
            margin-left: px(-13);
        }
    }
    .m-btns {
        padding: px(20) 0;
        text-align: center;
        border-bottom: 1px solid #e2eeff;
        a {
            display: inline-block;
            width: px(190);
            height: px(70);
            line-height: px(65);
            background-size: px(190) px(70);
            font-size: px(28);
            color: #fff;
            text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
            margin: 0 px(5);
        }
        .show {
            background-image: url(../images/hedb1.png);
        }
        .my {
            background-image: url(../images/hedb2.png);
        }
        .rule {
            background-image: url(../images/hedb3.png);
        }
    }
    .m-radio {
        height: px(56);
        overflow: hidden;
        li {
            line-height: px(56);
            text-align: center;
            font-size: px(22);
        }
    }
    .m-share {
        width: px(580);
        margin: 0 auto;
        padding: px(20) 0 px(40);
        h5 {
            text-align: center;
            color: $blue;
            font-size: px(30);
            margin-bottom: px(20);
        }
        .m-icon {
            float: left;
            @extend %share-sprite;
            @include appicon;
        }
        .m-btn {
            float: right;
            width: px(370);
            text-align: center;
            a {
                display: inline-block;
                width: px(304);
                height: px(90);
                line-height: px(86);
                text-align: center;
                color: #fff;
                background: #2460ff;
                background: linear-gradient(to bottom,#3eacff,#235dff);
                border-radius: px(43);
                font-size: px(30);
                margin-bottom: px(20);
                margin-top: px(10);
            }
            p {
                width: px(370);
                text-align: center;
                color: #8e939d; 
                font-size: px(22);
            }
        }
    }
}


.g-lists {
    width: px(604);
    margin: 0 auto;
    h3 {
        text-align: center;
        font-size: px(30);
        color: $blue;
        padding: px(20) 0;
        position: relative;
        &:before,&:after {
            content: '';
            position: absolute;
            width: px(180);
            height: 1px;
            background: $blue;
            top: 50%;
        }
        &:before {
            left: px(20);
        }
        &:after {
            right: px(20);
        }
    }
}

.m-listul {
    width: px(574);
    background: #fff url(../images/listbg.png) no-repeat bottom center;
    background-size: px(604) px(69);
    box-shadow: 0 3px 8px #c9ddfd;
    border-radius: px(8);
    padding: px(10) px(15); 

    li {
        border-bottom: 1px solid #e2eeff;
        &:last-child {
            border: none;
        }
        a { 
            display: block;
            height: px(152);
            overflow: hidden;
        }
        .pic {
            width: px(120);
            height: px(120);
            float: left;
            border-radius: px(8);
            box-shadow: 0 0 0 1px #adceff; 
            margin: px(15) px(20) 0 px(10);
        }
        dl {
            float: left;
            width: px(300);
            padding: px(20) 0;
            dt {
                color: $t1c;
                font-size: px(28);
                margin-bottom: px(10);
                text-overflow:ellipsis;
                overflow:hidden; 
                white-space:nowrap;
            }
            .progress {
                width: 100%;
                height: px(16);
                background: #adceff;
                border-radius: px(8);
                overflow: hidden;
                margin-bottom: px(10);
                span {
                    display: block;
                    height: px(16);
                    background: #0b95f7;
                }
            }
            .info {
                color: $t2c;
                font-size: px(20);
                span {
                    color: $red;
                    margin: 0 px(5);
                }
                p.t1 { float: left; }
                p.t2 { float: right; }
            }
        }
        .btn {
            float: right;
            text-align: center;
            color: #fff;
            box-sizing: border-box;
            padding: px(13) px(15) 0;
            font-size: px(27);
            line-height: 1.2;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
            margin: px(20) px(10) 0 0;
            @extend %btn-sprite;
            
            &.i-t1 {
                line-height: 1.6;
                font-size: px(46);
            } 

            &.i-get {
                @include btn2;
            }

            &.i-end {
                color: #a0b4d2;
                @include btn6; 
            }

            &.i-draw {
                @include btn1;
            }

            &.i-ing {
                color: #3ca5ff;
                @include btn3;
            }

            &.i-make {
                color: #41d777;
                @include btn4;
            }

            &.i-fail {
                color: #a8a8a8;
                @include btn5;
            }
        }
    }
}

.m-loadmore {
    margin-top: px(20);
    font-size: px(20);
    text-align: center;
    color: #adceff;
}

.g-predb {
    background: #fff url(../images/listbg.png) repeat-x bottom center;
    box-shadow: 0 0px 5px #c9ddfd;
    .m-lists {
        width: px(604);
        margin: 0 auto;
        padding: px(25) 0;
        li {
            float: left;
            margin-right: px(15);
            a {
                display: inline-block;
                width: px(88);
                height: px(88);
                border-radius: px(8);
                overflow: hidden;
                box-shadow: 0 0 0 1px $blue;
            }
            img {
                width: px(88);
                height: px(88);
            }
            &.m_more {
                margin-right: 0;
                a {
                    background: #2479ff;
                    background-image: linear-gradient(to bottom,#259eff,#235eff);
                    text-align: center;
                    color: #fff;
                    font-size: px(28);
                    box-sizing: border-box;
                    line-height: 1.3;
                    padding-top: px(8);
                }
            }
        }
    }
    .m-follow {
        width: px(570);
        margin: 0 auto;
        border-top: 1px solid #e2eeff;
        padding: px(30) 0;
        text-align: center;
        .avast {
            float: left;
            height: px(90);
            border-radius: 50%;
            margin-right: px(20);
        }
        img {
            width: px(90);
            height: px(90);
            border-radius: 50%;
            box-shadow: 0 0 0 1px $blue;
        }
        p {
            height: px(90);
            font-size: px(22);
            margin-bottom: px(20);
            text-align: left;
        }
        .btn {
            display: inline-block;
            text-align: center;
            width: px(150);
            height: px(42);
            line-height: px(42);
            background: $blue;
            color: #fff;
            border-radius: px(8);
            &.i-end {
                background: #999;
            }
        }
    }
}

.g-footer {
    background: #adceff;
    text-align: center;
    font-size: px(20);
    color: #fff;
    line-height: 1.6;
    padding: px(35) 0;
    &:before {
        content: '';
        display: block;
        width: px(270);
        height: px(30);
        background: url(../images/foot.png);
        background-size: px(270) px(30);
        margin: 0 auto px(10);
    }
}

.g-fixbtn {
    position: fixed;
    z-index: 2;
    width: px(58);
    right: px(30);
    bottom: px(30);
    a {
        display: block;
        width: px(58);
        height: px(58);
        overflow: hidden;
        background-size: px(58) px(58);
        margin-bottom: px(20);
    }
    .m-home {
        background-image: url(../images/bchome.png);
    }
    .m-top {
        background-image: url(../images/bctop.png);
    }
}

.g-share {
    text-align: center;
    padding: px(30) 0;
    h6 {
        width: px(127);
        height: px(42);
        margin: 0 auto px(30);        
        line-height: px(42);
        border-radius: px(21);
        color: $blue;
        box-shadow: 0 0 0 2px $blue;
        font-size: px(24);
    }
    p {
        font-size: px(24);
        color: #666666;
        margin-bottom: px(20);
        span {
            color: $red;
        }
    }
    .qcode {
        @extend %share-sprite;
        @include sh-1;
        margin: px(10) auto;
    }
    .img2 {
        @extend %share-sprite;
        @include sh-2;
        margin: px(10) auto;
    }
    .img3 {
        @extend %share-sprite;
        @include sh-3;
        margin: px(10) auto;
    }
}
