.g-myhead {
    height: px(120);
    padding: px(34) 0;
    background: #fff url(../images/listbg.png) repeat-x bottom center;
    box-shadow: 0 2px 10px #c9ddfd;
    margin-bottom: px(20);
    .m-warp {
        width: px(604);
        margin: 0 auto;
    }
    .m-avast {
        float: left;
        margin-right: px(20);
        width: px(120);
        height: px(120);
        border-radius: 50%;
        background: url(../images/avast.png);
        background-size: px(120) px(120);
        box-shadow: 0 0 0 1px #FFC89C;
        img {
            width: px(120);
            height: px(120);
            border-radius: 50%;
        }
    }
    .m-nick {
        float: left;
        line-height: px(120);
        font-size: px(32);
        color: #333;
    }
    .m-medal {
        float: right;
        img {
            display: block;
            width: px(90);
            height: px(114);
        }
    }
}

.g-mytab {
    width: px(604);
    margin: 0 auto px(20);

    .m-tabtop {
        background: #adceff;
        border-radius: px(8) px(8) 0 0;
        overflow: hidden;
        border-bottom :1px solid #e2eeff;
        li {
            width: 50%;
            float: left;
            text-align: center;
            line-height: px(70);
            border-radius: px(8) px(8) 0 0;
            font-size: px(32);
            &.i-active {
                background: #fff;
                color: $blue;
            }
        }
    }
    .m-tabbox ul {
        background: #fff;
        box-shadow: 0 3px 8px #c9ddfd;
        border-radius: 0 0 px(8) px(8);
    }
    .m-assets {
        padding: 0 px(18);
        li {
            line-height: px(120);
            border-bottom: 1px solid #e2eeff;
            padding: 0 px(18);
            &:last-child {
                border: none;
            }
            &:after {
                content: '';
                display: table;
                clear: both;
            }
            p {
                float: left;
                font-size: px(26);
                span {
                    color: #ffb914;
                    margin-left: px(8);
                }
            }
            a {
                float: right;
                width: px(140);
                height: px(60);
                margin-top: px(28);
                line-height: px(60);
                text-align: center;
                background: #ffbd16;
                background-image: linear-gradient(to bottom,#ffd728,#ffb611);
                color: #fff;
                border-radius: px(8);
                font-size: px(28);
            }
        }
    }
    .m-log {
        ul {
            background: #fff url(../images/listbg.png) no-repeat bottom center;
        }
        dl {
            padding: px(10) 0;
            dt {
                margin-bottom: px(5);
            }
            dd {
                span {
                    color: $yellow;
                }
            }
        }
        .btn {
            margin: px(30) px(10) 0 0;
        }
    }
}

.g-recommend {
    width: px(624);
    margin: 0 auto px(20);

    .m-recbox {
        float: left;
        width: px(292);
        margin: 0 px(10);
        h3 {
            height: px(70);
            line-height: px(70);
            border-radius: px(8) px(8) 0 0;
            font-size: px(28);
            position: relative;
            text-indent: px(110);
            &:before {
                content: '';
                position: absolute;
                left: px(50);
                top: px(8);
                width: px(51);
                height: px(51);
                background-size: px(51) px(51);
            }
            &.i-new {
                background: #adceff;
                color: #0893f6;
                &:before {
                    background-image: url(../images/new.png);
                }
            }
            &.i-hot {
                background: #ffc59a;
                color: #ff7854;
                &:before {
                    background-image: url(../images/hot.png);
                }
            }
        }
    }
    .m-listul {
        width: 100%;
        padding: 0;
        li {
            a {
                height: px(126);
                background: #fff url(../images/listbg.png) no-repeat bottom center;
                background-size: px(604) px(69);
            }
            .pic {
                width: px(100);
                height: px(100);
                margin: px(14) px(15) 0 px(20);
            }
            dl {
                width: px(150);
                dt {
                    text-overflow:ellipsis;
                    overflow:hidden; 
                    white-space:nowrap;
                    font-size: px(26);
                    margin-top: px(5);
                }
                dd {
                    line-height: 1.2;
                }
            }
        }
        
    }
}

.g-history {
    margin-top: px(20);
    .m-listul {
        li {
            dt {
                margin-top: px(5);
                margin-bottom: px(15);
            }
        }
    }
    
}

.g-record {
    
    .m-time {
        font-size: px(22);
        color: #adceff;
        margin-top: px(20);
        margin-bottom: px(15);
    }
    .m-listul {
        margin-bottom: px(20);
        li {
            height: px(152);
            .pic {
                box-shadow: none;
                border-radius: 50%;
            }
            dt {
                margin-top: px(5);
                margin-bottom: px(15);
            }
            dd {
                span {
                    color: $red;
                    margin: 0 px(5);
                }
            }
        }
    }
}

.g-feedbox {
    margin-bottom: px(20);
    ul {
        width: px(604);
        margin: 0 auto;
        padding-top: px(20);
    }
    li {
        background: #fff;
        border-radius: px(8);
        box-shadow: 0 3px 8px #c9ddfd;
        overflow: hidden;
        margin-bottom: px(20);
        h4 {
            height: px(70);
            line-height: px(70);
            background: #fff url(../images/listbg.png) repeat-x bottom center;
            background-size: px(604) px(69);
            padding: 0 px(20);
            font-size: px(24);
            span {
                color: $yellow;
                margin-right: px(10);
            }
            i {
                font-style: normal;
                float: right;
                font-size: px(22);
                color: #888;
            }
        }
    }
    .m-info {
        padding: px(20) px(20) px(20) px(120);

        .m-avast {
            position: absolute;
            width: px(80);
            height: px(80);
            margin-left: px(-100);
            img {
                width: px(80);
                height: px(80);
                border-radius: 50%;
            }
        }

        .m-user {
            color: $blue;
            font-size: px(26);
            margin-top: px(8);
            margin-bottom: px(4);
        }
        .m-infott {
            font-size: px(20);
            color: #888;
            margin-bottom: px(26);
        }
        .m-content {
            font-size: px(22);
            line-height: 1.4;
            img {
                max-width: px(270);
                max-height: px(270);
                margin-top: px(15);
            }
        }
    }
}