/* rules
===================== */
.f_rules {
    margin: px(20);
    padding: 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #fff url(../images/listbg.png) repeat-x left bottom;
    background-size: px(604) px(69);
    box-shadow: 0 3px 8px #c9ddfd;
}
.f_rules .m_tpl {
    width: px(188*2);
    height: px(114*2);
    margin: 20px auto;
    background: url(../images/result.gif);
    -webkit-background-size: cover;
    background-size: cover;
}
.f_rules .m_intext {
    font-size: px(24);
    line-height: 1.6;
    color: #000;
    margin-bottom: 5px;
}
.f_rules .m_intext i {
    font-style: normal;
    color: $red;
    margin-right: 8px;
}
.f_rules .m_intext span {
    color: #ff5e67;
}
.f_relesinfo {
    padding-top: 20px;
}
.f_relesinfo dt {
    display: inline-block;
    padding: 0 15px 0 30px;
    background-color: #ffa801;
    font-size: 16px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    margin-left: 20px;
    margin-bottom: 15px;
}
.f_relesinfo dt strong {
    position: absolute;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    background-color: #2dcc70;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: -54px;
    margin-top: -8px;
}
.f_relesinfo dt:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    margin-top: 3px;
    margin-left: 3px;
    background-color: #ffa801;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.f_relesinfo dd {
    margin-bottom: 20px;
}
.f_relesinfo dd h5 {
    font-weight: bold;
    font-size: px(24);
    color: #333;
    margin-bottom: 2px;
    font-size: px(28);
    i {
        font-style: normal;
        color: $red;
    }
}